@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    box-shadow: #eee;
}

header {
    text-align: center;
    font-family: abril Fatface;
    font-size: xx-large;
}



.newspaper-container {
    margin: auto;
    width: 900px;
    border: 10px solid #eee;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: #eee 10px;
}

.date {

    text-align: left;
    font-size: small;
  }

  ul {
    list-style-type: none;
  }

nav {
     font-size: 13px;
   list-style-type: none;
   
}

  nav a {
    float: left;
    display:inline-block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    border-top:#eee 3px solid;
    border-bottom:#eee 3px solid;
    
    
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }

  
  

  
    
    
    
    
  

  p {
    font-family: Source Sans Pro;
    font-size:22px;
    text-align: justify;
  }

  
  
  main {
      text-align: left;
  }

  .main-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
      
}

h5 {
    color: red;
}




  



  

 
